body {
  background-color: rgb(84, 143, 188);
}
#canvas-layer-1 {
  background-color: rgb(110, 119, 184);
  padding: 0;
  display: block;
  outline: black 3px solid;
  position:absolute;
  left: 50%;
  transform:
  translateX(-50%);
}
#canvas-layer-2 {
  padding: 0;
  display: block;
  outline: black 3px solid;
  position: absolute;
  left: 50%;
  transform:
  translateX(-50%);
}

#score-display {
  color:rgb(0, 255, 145);
  text-align:center;
}

#display-container {
  margin: auto;
  width: 100%;
}

#canvasWrapper {
  position:relative;
  width: 100%;
}
.spacer {
  font-size:70px;
  position:relative;
  height: 100px;
  pointer-events: none;
}

.big-text {
  font-size: 50px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.normal-text {
  font-size: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.hide {
  display: none;
  visibility: hidden;
}

button {
  position: relative;
  width: 200px;
  height: 50px;
  top: 40px;
  right: 0px;
  background-color:rgb(0, 255, 145);
}

select,
::picker(select) {
  appearance: base-select;
}

select {
  border: 2px solid rgb(0,0,0);
  background: rgb(0, 255, 145);
  padding: 15px;
  transition: 0.4s;
}